/* Mid (selection) */
.home-mid-container h2 {
    margin-top: 50px;
    margin-bottom: 50px;
    letter-spacing: 3px;
    text-align: center;
}

.selection-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.selection-box {
    width: 30%;
    text-align: center;
    margin: 10px;
}

.selection-box img {
    text-align: center;
    width: 90%;
    height: 100%;
    cursor: pointer;
    transition: all 2s;
}

/* Phone */
@media screen and (max-width: 767px) {
    /* Mid (selection) */
    .selection-box {
        width: 100%;
    }
    .selection-box h4 {
        font-size: 12px;
    }
    .selection-box h5 {
        font-size: 10px;
    }
}