.men-top-bg {
    height: 80vh;
    background-image: url(../../../public/img/men-bg-0.webp);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    opacity: 0;
}

.men-top-bg-fade {
    opacity: 1;
    transition: all 0.5s;
}

.men-title {
    text-align: center;
    letter-spacing: 3px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.men-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.men-box {
    width: 30%;
    max-width: 800px;
    height: auto;
    text-align: center;
    margin: 10px;
    opacity: 1;
    transition: 1s;
}

.men-box img {
    text-align: center;
    width: 90%;
    height: auto;
    cursor: pointer;
}

@media screen and (max-width:767px) {
    .men-box {
        width: 100%;
    }
}