/* Common */
li {
  margin-left: 25px;
  margin-right: 25px;
  list-style-type: none;
  font-size: 13px;
}

.display-flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  margin: 0;
}

/* Navbar */
.navbar-container {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: white;
}

nav {
  /* background-color: red; */
  display: flex;
  height: 100%;
  margin: 0;
}

.brand-name {
  /* background-color: blue; */
  width: 60%;
}

.brand-name-box-1 {
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  letter-spacing: 3px;
}

.brand-name-box-1 h1 {
  /* background-color: blue; */
  margin-right: 10px;
}

.brand-name-box-2 {
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
}

.nav-menu {
  /* background-color: yellow; */
  justify-content: flex-end;
  width: 40%;
}

/* Navbar Modal */
.navbar-modal {
  opacity: 0;
}

.show-modal {
  opacity: 1;
  transition: 1s;
}

.flex-column {
  flex-direction: column;
}

.flex-column li {
  margin-bottom: 25px;
}

@media screen and (max-width: 767px) {
  /* Invisible */
  .brand-name-box-2 {
    display: none;
  }
  .nav-menu {
    display: none;
  }

  /* Visible on mobile */
  .brand-name {
    /* background-color: blue; */
    width: 100%;
  }
}
