/* Common */
li {
  margin-left: 25px;
  margin-right: 25px;
  list-style-type: none;
  font-size: 13px;
  cursor: pointer;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid transparent;
  font-weight: bold;
}

.display-flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  margin: 0;
}

/* Navbar */
.navbar-container {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: white;
}

nav {
  /* background-color: red; */
  display: flex;
  height: 100%;
  margin: 0;
}

.brand-name {
  /* background-color: blue; */
  width: 60%;
}

.brand-name-box-1 {
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  letter-spacing: 3px;
}

.brand-name-box-1 h1 {
  /* background-color: blue; */
  margin-right: 10px;
  cursor: pointer;
}

.brand-name-box-2 {
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
}

.nav-menu {
  /* background-color: yellow; */
  justify-content: flex-end;
  width: 40%;
}

/* Navbar Modal */
.navbar-modal {
  position: fixed;
  background-color: white;
  width: 100%;
  margin-top: -10px;
  height: auto;
  left: auto;
  top: auto;
  z-index: 5;
  opacity: 0;
}

.animated {
  animation: show-modal 0.5s forwards ease-in-out;
}

.animated-hide {
  animation: hide-modal 0.2s forwards linear;
}

@keyframes show-modal {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes hide-modal {
  from {
    opacity: 1;
    transform: translateY(0%);
  }

  to {
    opacity: 0;
    transform: translateY(-5%);
  }
}

.flex-column {
  flex-direction: column;
}

.flex-column li {
  margin-bottom: 15px;
}

/* Not visible */
.mobile-btn {
  display: none;
}

.mobile-navbar {
  display: none;
}

.menu-mobile {
  display: none;
}

@media (hover: hover) {
  li:hover {
    border-bottom: 1px solid black;
  }
}

@media screen and (max-width: 767px) {
  /* Invisible */
  .brand-name-box-2 {
    display: none;
  }
  .nav-menu {
    display: none;
  }

  /* Visible on mobile */
  li {
    font-size: 12px;
  }

  .brand-name {
    /* background-color: blue; */
    width: 100%;
  }

  .brand-name-box-1 {
    width: 100%;
    margin-left: 0px;
  }

  .brand-name-box-1 h1 {
    font-size: 20px;
    margin-left: 10px;
  }

  .brand-name-box-1 h4 {
    font-size: 14px;
  }

  .brand-name-box-2-mobile {
    letter-spacing: 2px;
    margin-bottom: 10px;
    opacity: 0;
  }

  .brand-name-box-2-mobile li {
    font-size: 11px;
  }

  .mobile-btn {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
  }

  .mobile-btn button {
    border: none;
    background-color: white;
    color: grey;
  }

  .mobile-btn h4 {
    font-size: 12px;
    margin: 0;
  }

  .navbar-modal {
    background-color: white;
    width: 100%;
    margin-top: 0px;
    z-index: 5;
    position: fixed;
  }

  .mobile-navbar {
    display: block;
    position: fixed;
    width: 100%;
    z-index: 5;
    background-color: white;
  }

  .flex-column {
    align-items: flex-start;
  }

  .flex-column li {
    margin-bottom: 0px;
  }

  .menu-mobile {
    display: block;
    cursor: unset;
    border: none;
    letter-spacing: 1px;
    margin-top: -10;
    margin-right: 100px;
  }

  .border-line-navbar {
    width: 90%;
    border-bottom: 0.5px dashed black;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .mobile-btn li {
    margin-right: 5px;
  }

  .mobile-navbar-bag {
    margin-bottom: 15px;
  }
}
