.wishlist-container {
    /* display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow; */
    opacity: 0;
}

.wishlist-container-fade {
    opacity: 1;
    transition: all 0.5s;
}

.wishlist-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

.wishlist-title table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
    max-width: 950px;
    height: auto;
}

.wishlist-title th,td {
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    padding: 10px;
}

.wishlist-title td:nth-child(1) {
    width: 10%;
}

.wishlist-title td:nth-child(2) {
    width: 40%;
    text-align: center;
}

.wishlist-title td:nth-child(3) {
    width: 10%;
    text-align: right;
}

.wishlist-title td:nth-child(4) {
    width: 20%;
    text-align: right;
}

.wishlist-title td:nth-child(5) {
    width: 10%;
    text-align: right;
}

.wishlist-title td img {
    width: 100%;
    cursor: pointer;    
}

.wishlist-title td button {
    margin-top: 2px;
    border: none;
    background-color: white;
    font-weight: bold;
    height: 30px;
    cursor: pointer;
}

.wishlist-title td button:hover {
    opacity: 0.3;
    transition: all 0.2s;
}

.cartBtn {
    color: black;
}

.wishilist-deleteBtn {
    color: black;
}

@media screen and (max-width: 767px) {
    .wishlist-title td {
        font-size: 10px;
        padding: 5px;
        height: 80px;
    }

    .wishlist-title td:nth-child(1) {
        width: 20%;
    }

    .wishlist-title td:nth-child(3) {
        width: 10%;
        font-size: 9px;
    }

    .wishlist-title td:nth-child(4) {
        width: 15%;   
    }

    .wishlist-title td:nth-child(5) {
        width: 15%;   
    }

    .wishlist-title td button {
        font-size: 8px;
    }
}
