.menu-mobile {
  display: none;
}

@media screen and (max-width: 767px) {
  .menu-mobile {
    display: block;
    cursor: unset;
    border: none;
    letter-spacing: 1px;
    margin-top: -10;
    margin-right: 100px;
  }
}
